# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# ignore libraries openZeppelin in lib/openzeppelin-contracts
/lib/

# Docs
docs/

# Dotenv file
.env
